:root {
  --bg-light: #f9f9f9;
  --bg-gray: #eeeeee;
  --primary-color: #ffffff;
  --secondary-color: #0f52ba;
  --text-dark: #2c2c2c;
  --dark-10: #000000;
  --dark-20: #373737;
  --gray-10: #bfbfbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-light);
}
